<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SEBAD-R</title>
</head>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>


<body  style="height:100%;">

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" id="mainNav" style="background-color: #0071BD;">
    <a class="navbar-brand" (click)="recargar()" style="color: #ffffff">SEBAD-R</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">


      <ul class="navbar-nav ml-auto">
          <li> <button id="btnTraerNotas" style="display: none" (click)="traerNotas()">HOla prueba</button></li>
       
        <li>
          <p style="color: #ffffff">Usuario Activo: {{identity.NOMBRE_ESTUDIANTE}} {{identity.APELLIDO_ESTUDIANTE}} 
          </p>
        </li>
        <li>
        
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>
          <p style="color: #ffffff">Periodo Actual: {{this.periodoLectivoActual}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
        </li>
<!--        <li>
          <select (change)="asignarMateriaCurso($event.target.value)" class=" custom-select " required>
            <option [value]="" selected>Selecciona materia y curso</option>
            <option *ngFor="let oneDoor of vectorListadoMisMaterias" value="{{oneDoor.curso._id}},{{oneDoor._id}},{{oneDoor.curso.curso}},{{oneDoor.nombre}}">{{oneDoor.nombre}}</option>
          </select>


        </li>-->

        <!-- ====================================================       Notificaciones  INGRESAR PARALELO ============================================-->


        <!--  <li class="nav-item dropdown">
          <a title="Crear paralelo" class="nav-link dropdown-toggle mr-lg-2" id="openModalIngresarParalelo" data-toggle="modal" aria-haspopup="true"
            aria-expanded="false" data-target="#ModalIngresarParalelo">
            <i class="fa fa-fw fa-list-alt"></i>
            <span class="d-lg-none">Paralelo
              <span class="badge badge-pill badge-primary"> Nuevos</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>

            </span>
          </a>
        </li>-->

        <!-- ====================================================       Notificaciones  ELIMINAR  PARALELO ============================================-->


        <!-- <li class="nav-item dropdown">
          <a title="Crear paralelo" class="nav-link dropdown-toggle mr-lg-2" id="openModalEliminarParalelo" data-toggle="modal" aria-haspopup="true"
            aria-expanded="false" data-target="#ModalEliminarParalelo">
            <i class="fa fa-fw fa-list-alt"></i>
            <span class="d-lg-none">Paralelo
              <span class="badge badge-pill badge-primary"> Nuevos</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>

            </span>
          </a>
        </li>-->


        <li class="nav-item">

          <!-- ====================================================       BUSCADOR UNIVERSAL  ============================================-->

          <!-- <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input title="Buscardor de usuarios, choferes y automóviles" class="form-control" type="text" placeholder="Buscar" #Buscar="ngModel"
                [(ngModel)]="buscar" name="buscar">
              <span class="input-group-append">
                <button title="Buscardor de usuarios, choferes y automóviles" class="btn btn-primary" (click)="busqueda()" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>-->
        </li>
        <li class="nav-item" title="Salir del Sistema Montecarlo VIP">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Salir</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- scroll de navegacion -->
  <div style="height: 100%; overflow: auto;">


    <!-- <h3 style="margin-top: 10%; margin-left: 5%; text-align: center">{{this.Titulo}} </h3>-->


    <div  class="container-fluid">

      <!-- Division Principal-->
  
<br><br><br><br>
<div class="px-5">
<h3 >{{identity.NOMBRE_ESTUDIANTE}} {{identity.APELLIDO_ESTUDIANTE}} </h3>
</div>

<div class="px-5 ">
  <h4 class="text-center " >LIBRETA DE CALIFICACIONES</h4>
  </div>
<br>
      <!-- tabola de insumos -->

      <div *ngIf="banderInsumo" id="formContent" class="w-50">
        <button (click)="cerrarDescInsumos()" class="btn btn-light ">
          <i class="fa fa-close fa-md"></i>
        </button>
        <table *ngIf="banderInsumo" class="table table-hover table-bordered table-responsive" style="margin-top: 0%; font-size: 80% ; width: 90% ; height: 40%; margin-left: 5%">



          <thead>


            <tr style=" align-content: center;">
              <th colspan="2" style="padding-top: 3%" scope="col">
                <h6>DESCRIPCIÓN DE EVENTOS DE LA AMTERIA DE: {{recivir}}</h6>
               
              </th>

            </tr>


            <tr style="background-color: #65686b; align-content: center;">
              <th style="color: white;" scope="col">#</th>
              <th style="color: white;" scope="col">Descripción</th>

            </tr>


          </thead>
          <tbody>
            <tr style=" align-content: center;">
              <td scope="col">Asistencia 1</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA1}}</td>

            </tr>
            <tr style=" align-content: center;">
              <td scope="col">Asistencia 2</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA2}}</td>
            </tr>

            <tr style=" align-content: center;">
              <td scope="col">Asistencia 3</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA3}}</td>
            </tr>

            <tr style=" align-content: center;">
              <td scope="col">Asistencia 4</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA4}}</td>
            </tr>

            <tr style=" align-content: center;">
              <td scope="col">Asistencia 5</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA5}}</td>
            </tr>
            <tr style=" align-content: center;">
              <td scope="col">Asistencia 6</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA6}}</td>
            </tr>
            <tr style=" align-content: center;">
              <td scope="col">Asistencia 7</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA7}}</td>
            </tr>
            <tr style=" align-content: center;">
              <td scope="col">Asistencia  8</td>
              <td scope="col">{{listadoInsumos.DESCASISTENCIA8}}</td>
            </tr>

            <tr style="background-color: #65686b; align-content: center;">
              <th colspan="2" style="color: white; padding-top: 3%" scope="col">Primer periodo</th>

            </tr>

            <tr style=" align-content: center;">
              <td scope="col">Tarea 1</td>
              <td scope="col">{{listadoInsumos.DESCTAREA1}}</td>

              <tr style=" align-content: center;">
                <td scope="col">Tarea 2</td>
                <td scope="col">{{listadoInsumos.DESCTAREA2}}</td>
              </tr>

              <tr style=" align-content: center;">
                <td scope="col">Tarea 3</td>
                <td scope="col">{{listadoInsumos.DESCTAREA3}}</td>
              </tr>

              <tr style=" align-content: center;">
                <td scope="col">Tarea 4</td>
                <td scope="col">{{listadoInsumos.DESCTAREA4}}</td>
              </tr>

              <tr style=" align-content: center;">
                <td scope="col">Proyecto</td>
                <td style="padding-top: 3%" scope="col">{{listadoInsumos.DESCPROYECTO1}}</td>
              </tr>

              <tr style="background-color: #65686b; align-content: center;">
                <th colspan="2" style="color: white; padding-top: 3%" scope="col">Segundo periodo</th>
  
              </tr>
              <tr style=" align-content: center;">
                <td scope="col">Tarea 1</td>
                <td scope="col">{{listadoInsumos.DESCTAREA11}}</td>
              </tr>

              <tr style=" align-content: center;">
                <td scope="col">Tarea 2</td>
                <td scope="col">{{listadoInsumos.DESCTAREA22}}</td>
              </tr>

              <tr style=" align-content: center;">
                <td scope="col">Tarea 3</td>
                <td scope="col">{{listadoInsumos.DESCTAREA33}}</td>
              </tr>
              <tr style=" align-content: center;">
                <td scope="col">Tarea 4</td>
                <td scope="col">{{listadoInsumos.DESCTAREA44}}</td>
              </tr>

              <tr style=" align-content: center;">
                <td scope="col">Proyecto</td>
                <td scope="col">{{listadoInsumos.DESCPROYECTO2}}</td>
              </tr>

          </tbody>
        </table>


      </div>

   
      <!-- ====================================================    Tabla para Notas 1 ============================================-->


      <table  *ngIf="banderTabla1" class="table table-hover table-bordered table-responsive" style=" font-size: 80% ; width: 90% ; margin-left: 5%">



        <thead  >

          <tr style="background-color: #65686b; align-content: center;">
            <th style="color: white; " scope="col">Más</th>
            <th style="color: white; " scope="col">#</th>

            <th style="color: white; " scope="col">Materias</th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 1 </th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 2 </th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 3</th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 4</th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 5 </th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 6</th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 7 </th>
            <th style="color: white" scope="col" class="verticalText">Asistencia 8 </th>
            <th style="color: white" scope="col" class="verticalText">Promedio Asistencia </th>
            <th style="color: white" scope="col" class="verticalText">Tarea 1</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 2</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 3</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 4</th>
            <th style="color: white" scope="col" class="verticalText">35% </th>
            <th style="color: white" scope="col" class="verticalText">Proyecto 1 </th>
            <th style="color: white" scope="col" class="verticalText">30% </th>
            <th style="color: white" scope="col" class="verticalText">Examen 1</th>
            <th style="color: white" scope="col" class="verticalText">35% </th>
            <th style="color: white" scope="col" class="verticalText">Total Parcial 1</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 1</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 2</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 3</th>
            <th style="color: white" scope="col" class="verticalText">Tarea 4</th>
            <th style="color: white" scope="col" class="verticalText">35% </th>
            <th style="color: white" scope="col" class="verticalText">Proyecto 2</th>
            <th style="color: white" scope="col" class="verticalText">30%</th>
            <th style="color: white" scope="col" class="verticalText">Examen 2</th>
            <th style="color: white" scope="col" class="verticalText">35%</th>
            <th style="color: white" scope="col" class="verticalText">Total Parcial 2</th>
            <th style="color: white" scope="col" class="verticalText">Total Final</th>
            <th style="color: white" scope="col" class="verticalText">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let listado of  vectorListadoMisMaterias; let i = index; let listadoN of listadoEstudianteNotas">

            <th>
              <button (click)="actualizacionInsumos(listado.ID_MATERIA, listado.NOMBRE_MATERIA)" class="btn btn-light">
                <i class="fa fa-plus fa-xs"></i>
              </button>
            </th>

            <th scope="row">{{i+1}}</th>
            <td class="active">{{listado.NOMBRE_MATERIA}} </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia1" name="Asistencia1{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia2" name="Asistencia2{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia3" name="Asistencia3{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia4" name="Asistencia4{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia5" name="Asistencia5{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia6" name="Asistencia6{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia7" name="Asistencia7{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Asistencia8" name="Asistencia8{{i}}">
            </td>
            <td id="tdfila" style="background-color:yellow">
              <input disabled style="background-color: yellow" id="tdboton" type="text"
                [(ngModel)]="  this.objectCalculable[i].PromedioAsistencia" name="PromedioAsistencia{{i}}">
            </td>


            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea1" name="Tarea1{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea2" name="Tarea2{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea3" name="Tarea3{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea4" name="Tarea4{{i}}">
            </td>

            <td id="tdfila" style="background-color:yellow">
              <input disabled id="tdboton" style="background-color:yellow"
                [(ngModel)]="this.objectCalculable[i].treintaycincoporcientotareas1"
                name="treintaycincoporcientotareas1{{i}}" type="text">
            </td>

            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Proyecto1" name="Proyecto1{{i}}">
            </td>


            <td id="tdfila" style="background-color:yellow">
              <input disabled id="tdboton" style="background-color:yellow"
                [(ngModel)]="this.objectCalculable[i].treintaporcientoproyecto1" name="treintaporcientoproyecto1{{i}}"
                type="text">
            </td>

            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Examen1" name="Examen1{{i}}">
            </td>

            <td id="tdfila" style="background-color:yellow">
              <input disabled id="tdboton" style="background-color:yellow"
                [(ngModel)]="this.objectCalculable[i].treintaycincoporcientoexamen1" name="treintaporcientoexamen1{{i}}"
                type="text">
            </td>

            <td id="tdfila" style="background-color:rgb(215, 253, 138)">
              <input disabled id="tdboton" style="background-color:rgb(215, 253, 138)"
                [(ngModel)]="this.objectCalculable[i].totalparcial1" name="totalparcial1{{i}}" type="text">
            </td>




            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea11" name="Tarea11{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea22" name="Tarea22{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea33" name="Tarea33{{i}}">
            </td>
            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea44" name="Tarea44{{i}}">
            </td>



            <td id="tdfila" style="background-color:yellow">
              <input disabled id="tdboton" style="background-color:yellow"
                [(ngModel)]="this.objectCalculable[i].treintaycincoporcientotareas2"
                name="treintaycincoporcientotareas2{{i}}" type="text">
            </td>

            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Proyecto2" name="Proyecto2{{i}}">
            </td>


            <td id="tdfila" style="background-color:yellow">
              <input disabled id="tdboton" style="background-color:yellow"
                [(ngModel)]="this.objectCalculable[i].treintaporcientoproyecto2" name="treintaporcientoproyecto2{{i}}"
                type="text">
            </td>

            <td id="tdfila">
              <input id="tdboton" type="text" [(ngModel)]="this.object[i].Examen2" name="Examen2{{i}}">
            </td>

            <td id="tdfila" style="background-color:yellow">
              <input disabled id="tdboton" style="background-color:yellow"
                [(ngModel)]="this.objectCalculable[i].treintaycincoporcientoexamen2" name="treintaporcientoexamen2{{i}}"
                type="text">
            </td>

            <td id="tdfila" style="background-color:rgb(215, 253, 138)">
              <input disabled id="tdboton" style="background-color:rgb(215, 253, 138)"
                [(ngModel)]="this.objectCalculable[i].totalparcial2" name="totalparcial2{{i}}" type="text">
            </td>







            <td id="tdfila" style="background-color: lawngreen">
              <input disabled id="tdboton" style="background-color:lawngreen"
                [(ngModel)]="this.objectCalculable[i].promedioPeriodo" name="promedioPeriodo{{i}}" type="text">
            </td>

            <td id="tdfila" style="background-color: lawngreen">
              <input disabled id="tdboton" style="background-color:lawngreen"
                [(ngModel)]="this.objectCalculable[i].EstadoNotas" name="EstadoNotas{{i}}" type="text">
            </td>



            <td id="tdfila">
              <button id="tdbuttonGuardar{{i}}" type="button" (click)="prueba(listado,i)" style="border: none;" hidden></button>
            </td>



          </tr>
        </tbody>
        
      </table>
      <br>
      <div *ngIf="banderTabla1" class="col-md-12" style="text-align: center;">
        <button class="btn btn-primary" (click)="generarPdf()">Generar Reporte en PDF de las calificaciones</button>
        <br><br>
  </div>
    </div>

    <!--------------------------------- TTABLA DE EMERGENCIA UNO------------------------------------- -->

    <table   id="results" *ngIf="banderTabla1" class="table table-hover table-bordered table-responsive" style="margin-top: -1000%; font-size: 80% ; width: 90% ; margin-left: 5%; ">



      <thead  >

        <tr style="background-color: #65686b; align-content: center;">
      

          <th style="color: white; " scope="col">Materias</th>
          <th style="color: white">PA </th>
          <th style="color: white">T1 </th>
          <th style="color: white">T2 </th>
          <th style="color: white">T3 </th>
          <th style="color: white">T4 </th>
          <th style="color: white">35% </th>
          <th style="color: white">PR1 </th>
          <th style="color: white">30% </th>
          <th style="color: white">EX1</th>
          <th style="color: white">35%</th>
          <th style="color: white">TPC1</th>

          <th style="color: white">T1 </th>
          <th style="color: white">T2 </th>
          <th style="color: white">T3 </th>
          <th style="color: white">T4 </th>
          <th style="color: white">35% </th>
          <th style="color: white">PR2 </th>
          <th style="color: white">30% </th>
          <th style="color: white">EX2</th>
          <th style="color: white">35%</th>
          <th style="color: white">TPC2</th>
          <th style="color: white">TF</th>
          <th style="color: white">ESTADO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let listado of  vectorListadoMisMaterias; let i = index; let listadoN of listadoEstudianteNotas">

          <td class="active">{{listado.NOMBRE_MATERIA}} </td>


          <td id="tdfila">{{this.objectCalculable[i].PromedioAsistencia}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].PromedioAsistencia"
              name="isumo1{{i}}">
          </td>

          <td id="tdfila">{{this.object[i].Tarea1}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].insumo1" name="isumo1{{i}}">
          </td>
          <td id="tdfila">{{this.object[i].Tarea2}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].insumo2" name="insumo2{{i}}">
          </td>
          <td id="tdfila">{{this.object[i].Tarea3}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].insumo3" name="insumo3{{i}}">
          </td>
          <td id="tdfila">{{this.object[i].Tarea4}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].insumo4" name="insumo4{{i}}">
          </td>
         

          <td id="tdfila" style="background-color:yellow"> {{this.objectCalculable[i].treintaycincoporcientotareas1}}
            <input id="tdboton" type="text" style="background-color:yellow"
              [(ngModel)]="this.objectCalculable[i].treintaycincoporcientotareas1"
              name="treintaycincoporcientotareas1{{i}}">
          </td>


          <td id="tdfila">{{this.object[i].Proyecto1}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].Proyecto1" name="insumo5{{i}}">
          </td>
          <td id="tdfila"> {{this.objectCalculable[i].treintaporcientoproyecto1}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].treintaporcientoproyecto1"
              name="insumo6{{i}}">
          </td>
          <td id="tdfila">{{this.object[i].Examen1}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].Examen1" name="insumo7{{i}}">
          </td>
          <td id="tdfila"> {{this.objectCalculable[i].treintaycincoporcientoexamen1}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].treintaycincoporcientoexamen1"
              name="insumo8{{i}}">
          </td>
          <td id="tdfila">{{this.objectCalculable[i].totalparcial1}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].totalparcial1"
              name="ochentaporciento1{{i}}">
          </td>
          <td id="tdfila"> {{this.object[i].Tarea11}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea11" name="examen1{{i}}">
          </td>

          <td id="tdfila"> {{this.object[i].Tarea22}}
            <input id="tdboton" [(ngModel)]="this.object[i].Tarea22" name="veinteporciento1{{i}}" type="text">
          </td>
          <td id="tdfila">{{this.object[i].Tarea33}}
            <input id="tdboton" [(ngModel)]="this.object[i].Tarea33" name="promedio1{{i}}" type="text">
          </td>

          <td id="tdfila"> {{this.object[i].Tarea44}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].Tarea44" name="insumo11{{i}}">
          </td>
          <td id="tdfila">{{this.objectCalculable[i].treintaycincoporcientotareas2}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].treintaycincoporcientotareas2"
              name="insumo22{{i}}">
          </td>
          <td id="tdfila">{{this.object[i].Proyecto2}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].Proyecto2" name="insumo33{{i}}">
          </td>
          <td id="tdfila">{{this.objectCalculable[i].treintaporcientoproyecto2}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].treintaporcientoproyecto2"
              name="insumo44{{i}}">
          </td>
          <td id="tdfila"> {{this.object[i].Examen2}}
            <input id="tdboton" type="text" [(ngModel)]="this.object[i].Examen2" name="insumo55{{i}}">
          </td>
          <td id="tdfila"> {{this.objectCalculable[i].treintaycincoporcientoexamen2}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].treintaycincoporcientoexamen2"
              name="insumo66{{i}}">
          </td>
          <td id="tdfila"> {{this.objectCalculable[i].totalparcial2}}
            <input id="tdboton" type="text" style="background-color:rgb(215, 253, 138)"
              [(ngModel)]="this.objectCalculable[i].totalparcial2" name="insumo77{{i}}">
          </td>
          <td id="tdfila"> {{this.objectCalculable[i].promedioPeriodo}}
            <input id="tdboton" type="text" [(ngModel)]="this.objectCalculable[i].promedioPeriodo" name="insumo88{{i}}">
          </td>
          <td id="tdfila">{{this.objectCalculable[i].EstadoNotas}}
            <input id="tdboton" [(ngModel)]=" this.objectCalculable[i].EstadoNotas" name="ochentaporciento2{{i}}"
              type="text">
          </td>





          



        </tr>
      </tbody>
    </table>

 






  </div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Salir</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">¿Desea cerrar sessión?
        </div>
        <div class="modal-footer">
          <!-- <button (click)='hola()'>hola</button> -->
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" (click)="logout()">Salir</a>
        </div>
      </div>
    </div>
  </div>


  <!-- ====================================================                     GUARDADO CORRECTAMENTE =================================-->
  <!-- ====================================================                     GUARDADO CORRECTAMENTE =================================-->
 

  <!-- ====================================================                     ERROR =================================-->
  <!-- ====================================================                     ERROR =================================-->
  <button id="openModalError" [hidden]="true" data-toggle="modal" data-target="#ModalError">Error</button>
  <div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Error</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input style="width: 100%; border: 0; background-color: white;" disabled type="text" #MensajeError="ngModel" [(ngModel)]="this.mensajeerrormodal"
            name="mensajeerror">
        </div>
        <div class="modal-footer">
          <!-- <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button> -->
          <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>


  </div>
</body>

</html>